button {
    margin: 10px 30px;
    background-color: dodgerblue;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transform: scale(1);
}
button:hover {
    background-color: rgb(21, 90, 160);
}
button:active {
    transform: scale(1.05);
    outline: none; 
    border: none;
}
button:focus {
    outline: none;
}